<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thundersharp.aigs.spectre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpectreAIGS"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.activities.feedback.EventFeedback"
            android:exported="false" />
        <activity
            android:name=".ui.activities.feedback.FacultyFeedback"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".ui.activities.deeplinking.DeeplinkingActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="spekteraigs.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.VideoPlayer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.lectures.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".core.browser.Browser"
            android:exported="false" />
        <activity
            android:name=".ui.activities.lectures.CoarseContents"
            android:exported="false" />
        <activity
            android:name=".ui.activities.lectures.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.lectures.ServiceMain"
            android:exported="false" />
        <activity
            android:name=".ui.activities.passes.BookPasses"
            android:exported="false" />
        <activity
            android:name=".ui.activities.exhibition.ProjectsInfo"
            android:exported="false" />
        <activity
            android:name=".ui.activities.passes.TicketViewer"
            android:exported="false" />
        <activity
            android:name=".ui.activities.InitiativesHomes"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.lectures.LecturesHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.WorkshopsHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.CompetationHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.UpcommingEventsHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.InnovativeChallengeHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.KnowUs"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.exhibition.ExhibitionHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.barcode.BarCodeScanner"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.auth.Register"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.auth.EmailVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.auth.IntroActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".startup.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALXwDGx8r3PISJaxCDwT8YR7a0TXKYYvY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>